<template lang="pug">
  .tabs-component
    .modal(
      :class='{"display-modal": showResult}'
    )
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title {{isSuccess ? 'Success!' : 'Failure!'}}
          .modal-body
            p Maximum offer was: {{employer.maxOffer}}
            p Minimum expected salary was: {{employee.minimumSalary}}

          .modal-footer
            button.btn.btn-default(
              @click='resetForm'
            ) OK
    .row
      .col-xs-12
        ul.nav.nav-tabs
          li(
            :class='{active: activeTab === 1}'
          )
            a(
              href='#'
              @click.prevent='changeTab(1)'
            ) Employer-Tab
          li(
            :class='{active: activeTab === 2}'
          )
            a(
              href='#'
              @click.stop='changeTab(2)'
            ) Employee-Tab
        .tab-content(
          v-show='activeTab === 1'
        )
          form(
            @submit.prevent='submitEmployerValue'
            v-if='!employer.submitted'
          )
            .form-group
              label.control-label
              input.form-control(
                type='number'
                placeholder='Enter maximum offer'
                required
                v-model.number='employer.maxOffer'
                min='1'
              )
            .text-center
              button.btn.btn-primary(
                type='submit'
              ) Submit
          p(
            v-else
          ) Value submitted.
        .tab-content(
          v-show='activeTab === 2'
        )
          form(
            @submit.prevent='submitEmployeeValue'
            v-if='!employee.submitted'
          )
            .form-group
              label.control-label
              input.form-control(
                type='number'
                placeholder='Enter minimum salary'
                required
                v-model.number='employee.minimumSalary'
                min='1'
              )
            .text-center
              button.btn.btn-primary(
                type='submit'
              ) Submit
          p(
            v-else
          ) Value submitted.
</template>

<script>
export default {
  data () {
    return {
      activeTab: 1,
      employer: {
        maxOffer: null,
        submitted: false
      },
      employee: {
        minimumSalary: null,
        submitted: false
      }
    }
  },
  computed: {
    showResult () {
      return this.employer.submitted && this.employee.submitted
    },
    isSuccess () {
      return this.employee.minimumSalary <= this.employer.maxOffer
    }
  },
  methods: {
    resetForm () {
      this.employer.submitted = false
      this.employee.submitted = false
    },
    changeTab (activeTab) {
      this.activeTab = activeTab
    },
    submitEmployeeValue () {
      this.employee.submitted = true
    },
    submitEmployerValue () {
      this.employer.submitted = true
    }
  }
}
</script>

<style>
  .display-modal{
    display: block;
  }
</style>
