<template lang="pug">
  #app.container-fluid
    tabs-component
</template>

<script>
import TabsComponent from './components/TabsComponent'

export default {
  name: 'App',
  components: {
    TabsComponent
  }
}
</script>

<style>
  #app{
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
  }
</style>
